<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iamalokit.anotherblog.dao.BlogDao">
	<select id="findBlogList" parameterType="Map"
		resultMap="com.iamalokit.anotherblog.mapper.BlogMapper.BaseResultMap">
		select
		<include
			refid="com.iamalokit.anotherblog.mapper.BlogMapper.Base_Column_List" />
		from blog
		where is_deleted=0
		<if test="keyword!=null">
			AND (blog_title like CONCAT('%',#{keyword},'%' ) or
			blog_category_name
			like CONCAT('%',#{keyword},'%' ))
		</if>
		<if test="blogStatus!=null">
			AND blog_status = #{blogStatus}
		</if>
		<if test="blogCategoryId!=null">
			AND blog_category_id = #{blogCategoryId}
		</if>
		order by id desc
		<if test="start!=null and limit!=null">
			limit #{start},#{limit}
		</if>
	</select>

	<select id="getTotalBlogs" parameterType="Map" resultType="int">
		select count(*) from blog
		where is_deleted=0
		<if test="keyword!=null">
			AND (blog_title like CONCAT('%',#{keyword},'%' ) or blog_category_name
			like CONCAT('%',#{keyword},'%' ))
		</if>
		<if test="blogStatus!=null">
			AND blog_status = #{blogStatus}
		</if>
		<if test="blogCategoryId!=null">
			AND blog_category_id = #{blogCategoryId}
		</if>
	</select>
	<select id="findBlogListByType"
		resultMap="com.iamalokit.anotherblog.mapper.BlogMapper.BaseResultMap">
		select
		<include
			refid="com.iamalokit.anotherblog.mapper.BlogMapper.Base_Column_List" />
		from blog
		where is_deleted=0 AND blog_status = 1
		<if test="type!=null and type==0">
			order by blog_views desc
		</if>
		<if test="type!=null and type==1">
			order by id desc
		</if>
		limit #{limit}
	</select>

	<update id="deleteBatch">
		update blog
		set is_deleted=1 where id in
		<foreach item="id" collection="array" open="(" separator=","
			close=")">
			#{id}
		</foreach>
	</update>
</mapper>